.navheader {
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
};

.navbarStyle {
  background-color: #45384f;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.2);
}

.textheader {
  color: #EDEFFF;
}

.MainNav {
  color: #EDEFFF !important;
  text-decoration: none !important;
  font-family: 'Noto Sans KR', sans-serif;

}

.MainNavButt {
  color: #EDEFFF;
  border: #EDEFFF 1px solid;
  font-family: 'Noto Sans KR', sans-serif;
}
.MainNavButt:hover {
  color: #EDEFFF;
  background-color: transparent;
  border: #EDEFFF 3px solid;
}

.navbarSpan {
  width: 30%;
}


@media only screen and (max-width: 680px) {
  .navbarSpan {
    width: 20px;
  }
 }