footer {
    background-color: #45384f;
    color: #EDEFFF;
    font-family: 'Noto Sans KR', sans-serif;
}

.footerLink {
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #EDEFFF;
}

.list-unstyled {
    margin-top: 15px;
    padding: 10px;
}

.footer-copyright {
    margin-top: 10px;
    margin-left: 40px;
}

.footerLink:hover {
    color: #EDEFFF;
}

.footerLogo {
    margin-left: 85px;
}