<<<<<<< HEAD
.capOne,.capTwo,.capThree{
	padding-bottom: 500px;
	font-family: 'Noto Sans KR', sans-serif;
       font-weight: bolder;
        font-size: 30px;
       color: white;
}

=======
.capOne {
    padding-bottom: 400px;
}

.capTwo {
    padding-bottom: 400px;
}

.capThree {
    padding-bottom: 400px;
}
>>>>>>> f1068dba5f5a77974a2c071d9bd3a69629c134cb
