.devImage {
    padding: 5%;
}

.devCard {
    display: block;
    background-color: white;
    padding: 25px;
    align-content: center;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.2);
    margin-bottom: 25px;
    height: 600px;
}

.devHeader {
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    color: #45384f;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 25px;
}

.devName {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #45384f;
    margin-top: 10px;
    margin-bottom: 10px;
}

.devAbout {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #45384f;
}

i.devLink {
    color: #45384f;
    font-size: 50px;
    padding: 20px;
}
