.profilePicture {
    padding-top: 100px;
    width: 525px !important;
}

.userHeader {
    color: #EDEFFF;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}
